<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base}">
<head>
    <title>Create URL</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="h4 mb-3">Create a Short URL</h1>
                    <div th:replace="~{fragments/url-form :: form(${createUrlRequest}, 'createUrlRequest', @{/urls}, 'Create URL', @{/})}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
