<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base}">
<head>
    <title>Edit URL</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="h4 mb-3">Edit URL</h1>
                    <div th:replace="~{fragments/url-form :: form(${updateUrlRequest}, 'updateUrlRequest', @{/urls/{id}/edit(id=${urlId})}, 'Save Changes', @{/})}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
